<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{path('homepage')}}">Hospital Dr Ricardo Gutierrez</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{path('signUp')}}">
            <img class="iconoMenu" src="image/iconoLogin.png" alt="Registrarse en el sistema"/>
            Registrarse
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('login')}}">
            <img class="iconoMenu" src="image/iconoLogin.png" alt="Abrir Sesi&oacute;n"/>
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>