{% extends 'base.html.twig' %}
{% block title %}ERROR{% endblock %}
{% block contenido %}
<script type="text/javascript" src="js/validarLogin.js"></script>
<div class="card mx-auto my-5" style="max-width: 500px;">
 <h1>Su usuario ya se encuentra registrado</h1>
</div>
{% endblock %}
