{% extends 'base.html.twig' %}
{% block title %}Hospital Dr Ricardo Gutierrez{% endblock %}
{% block contenido %}
 <h1 class="jumbotron text-center"><strong>{{mensaje}}</strong></h1>
 <img class="mx-auto d-block" src={{ asset('image/enConstruccion.png') }} alt="Sitio Deshabilitado"/>
{% endblock %}